NEXT_PUBLIC_BASE_URL = "https://polls.marvelcord.com"

NEXT_PUBLIC_API_URL_POLLS = "https://polls.marvelcord.com"
NEXT_PUBLIC_GUILD_ID = "281648235557421056"

INVITE_URL = "https://discord.gg/marvel"

# Logging configuration
# Possible values: DEBUG, INFO, WARN, ERROR, NONE
NEXT_PUBLIC_LOG_LEVEL = "INFO"
